services:
  postgres:
    image: postgres:15
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookstore
    healthcheck:
      test: ["CMD", "pg_isready"]
    networks:
      - bookstore-network

networks:
  bookstore-network: